body{
    background-color: aliceblue;
    text-align: center;
    background-size: cover;
    margin: auto;
    width: auto;
    
}
header{
    background-color: black;
    color: white;
    text-align: left;
    padding: 15px;

}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
p{
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    
    
}
